*{
    margin: 0;
    padding: 0;
}
#wrap {
    width: 1000px;
    background-color: #ffc0cb;
    margin: 0 auto auto auto;


}
#footer{
    width : 100%;
    height: 40px;
    background-color: #3995ff;
    color: #ff6f32;
    font-size: 2em;
    text-align: center;
    padding-top: 1em;
}
.btn{
    padding-top: 0.2em;
    margin: 0;
    line-height: 2em;
    display:block;
    background-color: #6c7fff;
    -webkit-border-radius: 150px;
}